@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  /* Font families */
  --font-heading: "Poppins", Arial;
  --font-body: "Roboto", sans-serif;

  /* Font sizes */
  --font-size-h1: 48px;
  --font-size-h2: 36px;
  --font-size-h4: 24px;
  --font-size-h5: 18px;
  --font-size-h6: 18px;
  --font-size-p: 14px;
  --font-size-a: 18px;
  --font-size-span: 26px;
  --font-size-small:14px;

  /* Font weights */
  --font-weight-h1: 700;
  --font-weight-h2: 700;
  --font-weight-h5: 600;

  /* Colors */
  --color-primary: #274584;
  --color-white: #ffffff;
  --color-dark: #2b2b2b;
  --color-primary-two:#CEE1F8;
  --color-ligth: #5d7cc15d;
}

@theme{
  --color-primary: #274584;
  --color-light: #5d7cc15d;
  --color-secondary:#ffffff;
  --color-tertiary:#2b2b2b;
  --color-dark:#111;
  --color-primary-two:#CEE1F8;
}
.container{
  max-width: 1400px;
  margin: 0 auto;
}
/* Typography styles */
h1 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
}

h2 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  color: #000;
}

h3{
  font-family: var(--font-heading);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-h5);
}

h5 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-h5);
}

h6{
  font-family: var(--font-heading);
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-h5);
}

p {
  font-family: var(--font-body);
  font-size: var(--font-size-p);
  color: var(--color-dark);
}

a {
  font-family: var(--font-heading);
  font-size: var(--font-size-p);
  font-weight: 400;
  text-decoration: none;
}

span {
  font-family: var(--font-heading);
  font-size: var(--font-size-small);
  font-weight: 300;
  color: var(--color-primary);
}

input[type="text"],
input[type="email"],
textarea,
button {
  font-family: var(--font-body);
  font-size: var(--font-size-p);
}

button{
  cursor: pointer;
}

.about-us {
  background-image: url('/about-bg_04.png');
  background-size: cover;
  background-position: center;
}

span.span-for-about{
  display: flex;
  padding-bottom: 2px;
}
span.span-for-about:hover{
  color: white;
}

.main-card-service {
  position: relative;
  overflow: hidden;
}

.down-side-content {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 120%;
  height: 300px;
  background-color: var(--color-primary);
  border-radius: 50%;
  transition: transform 0.7s ease-in-out;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding-top: 30px;
  align-items: center;
  color: white;
  text-align: center;
  pointer-events: none;
}

.main-card-service:hover .down-side-content {
  transform: translate(-50%, 10%); /* stops 10% from the top */
  transition: transform 0.7s ease-in-out;

}
