ul{
    list-style-type: disc;
    margin-left: 25px;
}

ol{
    list-style-type: decimal;
}
h3{
    margin-top: 10px;
    margin-bottom: 5px;
}
h4,h5,h6,p{
    margin-top: 4px;
    margin-bottom: 3px;
}
div{
    margin-bottom: 2px;
}